html,body{
    margin: 0;
    padding: 0;

}

.icon {
    width: 1.2em; height: 1.2em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
    position: fixed;
    bottom:25% ;
    left: 10px;

}
#pen{
    position: fixed;
    bottom:30% ;
    left: 10px;
}
#clear{
    position: fixed;
    bottom:20% ;
    left: 10px;
}
#download{
    position: fixed;
    bottom:15% ;
    left: 10px;
}

#canvas{
    background-color: white;
    display: block;      /*canvas要改为块级元素*/
    position: fixed;
    top: 0;
    left: 0;
}

button{
    border-radius: 5px
}

.actions{
    position:fixed;
    bottom: 5px;
    left: 5px;
    
}

.actions #brush{
    display: none;
}
.actions.x #brush{
    display: inline-block;
}
.actions.x #eraser{
    display: none;
}



